html{
    margin: 0;
}

body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.wrapper{
     background-image: url("../img/main_IMG.png");
     background-size: 360px 100%;
     width: 360px;
     height: 640px;
    }

.grid{
    display: grid;
    gap: 30px;
    height: 640px;
    grid-template:
    "big_Dday weather" 9%
    "username profile" 9%
    "dDay dDay" 12%
    "planned planned" 12%
    "personal personal" 12%
    "location location" 12% / 40% 40%
    ;
    align-content: center;
    justify-content: center;
}

.big_Dday{
    background-color: aqua;
    grid-area: big_Dday;
}

.weather{
    background-color: bisque;
    grid-area: weather;
}

.username{
    background-color: yellow;
    grid-area: username;
}

.profile{
    background-color: blanchedalmond;
    grid-area: profile;
}

.dDay{
    background-color: red;
    grid-area: dDay;
}
 
.planned{
    background-color: pink;
    grid-area: planned;
}

.personal{
    background-color: yellow;
    grid-area: personal;
}

.location{
    background-color: pink;
    grid-area: location;
}
