html{
    margin: 0;
}

body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.wrapper{
     background-image: url("../img/start_IMG.png");
     background-size: 360px 100%;
     width: 360px;
     height: 640px;
    }