/* flex는 열만 갖고, grid는 열과 행 둘 다 가지고 있다. */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 1 fraction 사용가능한 공간*/
    grid-template-rows: repeat(4, 100px); 
    gap: 10px;
}

.header{
    background-color: red;
    
}

.content{
    background-color: orange;
    
}

.nav{
    background-color: yellow;
    
}

.footer{
    background-color: green;
    
}