/* flex는 열만 갖고, grid는 열과 행 둘 다 가지고 있다. */
.grid{
    display: grid;
    grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [fourth-line] 100px [fifth-line];
    grid-template-rows: repeat(4, 100px[rep-line]); 
    gap: 10px;
}

.header{
    background-color: red;
    
}

.content{
    background-color: orange;
    
}

.nav{
    background-color: yellow;
    
}

.footer{
    background-color: green;
    
}