.father{           /* grid design은 father에서 진행해야함 */
    display: grid;    
    grid-template-columns: 250px 250px 250px 250px;
    column-gap: 10px;   /* column간의 차 */
    row-gap: 10px;      /* gap: 10px */
   
}

.child{
    background: skyblue;
    color: blue;
    font-size: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
}


