@charset "UTF-8";

/*default*/
* {margin:0px; padding:0px; vertical-align: baseline; font-family:"azo-sans-web", sans-serif; line-height:1em; font-size:13px; text-align:center; color:#212121;}

html,body{
	height: 100%;	
}

.backImg{
	background-image: url("/resources/img/checkBackground.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}

.smallTitleImg{
	background-image: url("/resources/img/smallLogo.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: -55px center;
	height: 13%;
}

p{
	font-family: 'GyeonggiBatang';
	font-size: 90px;
	margin-top: 25%;
	
}

i{
	color: rgb(355,215,0);
	font-size: 70px;
	margin: 70px 40px 0 20px;
}

.passIn{
	margin-top:-5%;
}

.password_Hint a{
	font-size: 45px;	
	text-decoration: none;
	color: #000;
}

.password_Hint{
	text-align: right;
	margin: 25% 20px 0 0;
}

.pass_btn{
	margin-top: 20px;
}

.pass_btn button{
	padding: 50px 14.7%;
	font-size: 60px;
	
}


