@charset "EUC-KR";

html{
	margin: 0;
}

body{
	background-color: #c5d9ed;
	display: flex;
    justify-content: center;  
    align-items: center;
    height: 100vh;
}

.detail{
	width: 60%;
	background-color: #f0f6fc;
	box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.20);
}

table{
	width: 60%;
	height: 50vh;
	margin-left: 16.5%;
    background-color: #fff;
    font-size: 18px;
}

.commentF{
	width: 60%;
	margin-left: 16.5%;	
	font-size: 17.7px;	
}

.btn{
    background-color: #6aafe6;
    color: #fff;
    padding: 1px 5px 5px 5px;
    margin-top: 0.5%;
    text-decoration-line: none;
}

h2{
	font-size: 20px;
	color: #878787;
	margin-left: 16.5%;	
}

.wrapper{
	margin: 0 0 2% 16.5%;
}

.dateC{
	margin-left: 16.5%;	
}

.conC{
	margin-left: 16.5%;	
}