<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">
	<select id="list" resultType="BoardVo">
		select 
			no, id, name, rank, date, time 
		from board
	</select>
	
	<insert id="insert">
		insert into board (id,name,rank,date,time)
				values (#{id},#{name},#{rank},NOW(),NOW())
	</insert>
	
	<select id="detail" resultType="BoardVo">
		select 
			no, id, name, rank, date, time
		from board where no = #{no}
	</select>
	
	<update id="update">
		update board
		set name = #{name}, rank = #{rank}, id = #{id}, time = NOW(), date = NOW()
		where no = #{no}
	</update>
	
	<delete id="delete">
		delete from board 
		where no = #{no}
	</delete>
</mapper>



